@import "../../scss/variables";

.popup {
  padding: 12px 10px;

  text-transform: uppercase;

  background-color: $white;

  position: absolute;
  top: 8px;
  left: 54px;
  z-index: 1;

  box-shadow: 0 0 8px $gray-300;
}
