@import "./variables";

body {
  margin: 0;

  font-family: $primary-font;
  font-size: $font-100;
  color: $gray-400;

  background-color: $gray-100;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 25px;
}
