/* Fonts */
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Righteous", cursive;
$font-100: 16px;
$font-200: 18px;
$font-300: 20px;
$font-400: 22px;
$font-500: 24px;
$font-600: 26px;
$font-700: 28px;
$font-icon: 38px;

/* Colors */
$black: #000;
$white: #fff;
$gray-100: #cfd8dc;
$gray-200: #78909c;
$gray-600: #4a6572;
$gray-700: #344955;
$gray-800: #232f34;
$gray-backdrop: RGB(74 101 114 / 0.7);
$yellow: #fff59d;
$orange-500: #f9aa33;
$blue-900: #01579b;
$blue-500: #4fc3f7;
$orange-blur: RGB(249 170 51 / 0.7);
$logo-shadow: 3px 3px 4px $orange-blur;
$card-shadow: 0 0 10px $orange-blur;
$border-radius-card: 20px 0 20px 0;
$border-radius-form: 6px;
